<header class="bg-green-pale py-5 font-heading">
  <div class="container mx-auto relative z-20 overflow-x-hidden">
    <div class="hidden lg:flex -mx-4 px-4 items-center">
      <div class="flex flex-no-wrap w-1/2 items-center">
        <div class="px-4 w-1/2 2xl:w-2/5">
          <a href="/"><img src="{{ 'ischifi-logo.svg' | asset_url }}" class="inline-block w-20 -mt-2" alt="ISCHifi"/><span class="inline-block font-heading text-xl">&nbsp;Gift Program</span></a>
        </div>
      </div>
      <div class="flex flex-wrap lg:flex-no-wrap lg:w-1/2 text-sm lg:text-base">
        <div class="px-4 w-full lg:w-1/2 text-right lg:text-left mb-2 lg:mb-0">
          <a href="https://insheepsclothinghifi.com/">Back to In Sheep's Clothing HiFi</a>
        </div>
        <div class="px-4 w-full lg:w-1/2 text-right">
          <a href="/cart">ISC Gift Program Cart &#8594; <img src="{% if cart.item_count > 0 %}{{ 'shopping-cart-full.svg' | asset_url }}{% else %}{{ 'shopping-cart-empty.svg' | asset_url }}{% endif %}" class="inline-block w-4 lg:w-6 ml-6" alt="Cart"/> ({{ cart.item_count }})</a>
        </div>
      </div>
    </div>

    <div class="flex lg:hidden -mx-4 px-4 items-center justify-between">
      <div class="px-4 w-1/2">
        <a href="/"><img src="{{ 'ischifi-logo.svg' | asset_url }}" class="block w-24" alt="ISCHifi"/><span class="inline-block font-heading text-xl">&nbsp;Gift Program</span></a>
      </div>
      <div class="px-4">
        <a href="/cart"><img src="{% if cart.item_count > 0 %}{{ 'shopping-cart-full.svg' | asset_url }}{% else %}{{ 'shopping-cart-empty.svg' | asset_url }}{% endif %}" class="inline-block w-6 lg:w-6 ml-6" alt="Cart"/> ({{ cart.item_count }})</a>
      </div>
      <div class="px-4">
        <img src="{{ 'mobile-nav-icon.svg' | asset_url }}" class="mobile-nav-toggle mobile-nav-icon w-10" />
        <img src="{{ 'mobile-nav-icon-active.svg' | asset_url }}" class="mobile-nav-toggle mobile-nav-icon-active w-10" />
      </div>
    </div>
  </div>
</header>

<div id="mobile-nav" class="inset-0 fixed z-10 bg-brown-pale lg:hidden">
  <div class="container mx-auto h-full relative overflow-x-hidden">
    <div class="absolute inset-0 pt-24 flex flex-col text-6xl font-heading">
      <div class="px-4 mb-10">
        <a href="/">Gift Program<br> Home</a>
      </div>
      <div class="px-4">
        <a href="https://insheepsclothinghifi.com/">
          <span class="block font-basic text-base">Back to</span>
          ISCHiFi
        </a>
      </div>
    </div>
  </div>
</div>
